## ========================================
## System files
## ========================================
.DS_Store
*/.DS_Store

## ========================================
## R/RStudio files
## ========================================
*.Rproj
.Rproj.user
.RData
.Rhistory
.Ruserdata## ========================================
## Personal folders
## ========================================
#doc/
#private_docs/
## ========================================
## Personal helper scripts
## ========================================
[Mm]akefile
_create_*
_update_*
_update_*
